
body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

header {
    background-color: #161816; 
    color: #fff; 
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px; 
    background-color: #1e272e; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

nav ul li a:hover {
    background-color: #282a2c; 
    transform: translateY(-2px); 
}

section.upload-content {
    padding: 2rem;
    text-align: center;
    flex: 1;
}
.back-button {
    display: inline-block; 
    background-color: #101112; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    margin-top: 20px; 
}

.back-button:hover {
    background-color: #0056b3; 
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #141a15; 
    color: #fff; 
    width: 100%; 
}
